* {
    margin: 2px;
}

body {
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: lightblue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1;
}

.flex-article {
    background-color: lightgreen;
    padding-top: 3rem;
    flex: 3 3;
}

.flex-nav {
    background-color: lightcoral;
    padding-top: 3rem;
    flex: 1 1 3rem;
}

.flex-aside {
    background-color: lightcoral;
    padding-top: 3rem;
    flex: 1 1 3rem;
}

.flex-footer {
    background-color: lightblue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}